<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Botanic Dialogue</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script crossorigin src="https://cdn.jsdelivr.net/gh/makeabilitylab/p5js/_libraries/serial.js"></script>
  <script src="/assets/botanicDialoguebundle.js"></script>
  <link rel="stylesheet" href="assets/style.css">
</head>
<body>
  <div id="app">

  </div>
</body>
</html>